<h1>All Trainers</h1>

<%= link_to 'Create Trainer', '/trainers/new' %>
<% @trainers.each do |trainer| %>
  <ul>
    <h3><%= "#{trainer.name}" %></h3>
    <li><%= "Certified: #{trainer.certified}" %></li>
    <li><%= "Years of Experience: #{trainer.years_of_experience}" %></li>
    <li><%= "Date Created: #{trainer.created_at}" %></li>
    <li><%= "Number of Athletes: #{trainer.athletes.length}" %></li>
  </ul>
<% end %>
