<h1><%= @trainer.name %></h1>

<ul>
  <li><%= @trainer.certified %></li>
  <li><%= @trainer.years_of_experience %></li>
  <li><%= @trainer.id %></li>
  <li><%= @trainer.created_at %></li>
  <li><%= @trainer.athletes.length %></li>
</ul>
